/* body {
    display: inline;
} */
h1 {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 50px;
}

h2 {
    text-align: center;
    margin: auto auto 10px auto;
    color: white;    
    font-family:  Helvetica, sans-serif;
    max-width:fit-content;       
}

h3 {
    margin: 0;
}

div {
    float: right;
    width: 50%;
    margin: 10px;
    height: fit-content;
    padding: 5px;
}

body {
    background-color: rgb(129, 19, 19);
    color: white;
}

img { 
    margin: auto;
    margin-bottom: 60px;
    padding: 10px;
    height: auto;
    width: 90%;
    color: white;
    border: 10px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.inputForm {
    color: white;
    font-style:inherit;
    /* float: left;   */
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(90, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

.box {
    float: right;
}

input:hover {
    background-color: lightgray;
}

input:focus {
    background-color: white;
}

nav { 
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: lightgray;
    padding: 5px;
    margin: 0;
    padding: 0;
}

a:visited {
    color: lightgray;
    
}
a:hover {
    color: white;
}
  
.active:link {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* main {    
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    height: 400px;
    border: 10px solid lightgrey;
} */

#deleteTrainer {
    float: right;
}
@media only screen and (max-width: 1060px) {
    h1 {
        height: 20px;
        font-size: 20px;
    }

    h2 {
        height: 10px;
        font-size: 10px;
        text-align: center;
        margin: auto auto 5px auto;
    }
    
    div {
        float: none;
        margin: 10px auto 10px auto;
        padding: 10px;
        height: fit-content;
    }

    .inputForm {
        margin: 10px auto 10px auto;
        padding: 10px;
        float: none;
        width: 400px;
        height: fit-content;
    }
}